<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightgray}
h2 {color:red}
title {font-size:32px; color:red;}
</style>
	<title>Restaurants</title>
</head>
<body>
		<h2 align="center">Restaurants</h2>
<body>
	<form name="restaurants-form" action="#" method="POST">
		<div align="center">
			<select name="restaurants-dropdown">
				<option value="Henry's Chicken Shack">Henry's Chicken Shack</option>
				<option value="Canoe">Canoe</option>
				<option value="Subway">Subway</option>
				<option value="KFC">KFC</option>
				<option value="Big Daddy's Crab and Oyster Shack">Big Daddy's Crab and Oyster Shack</option>
				<option value="Church's Chicken">Church's Chicken</option>
				<option value="Taco Bell">Taco Bell</option>
				<option value="Blueberry Hill">Blueberry Hill</option>
				<option value="Jimmy the Greek">Jimmy the Greek</option>
				<option value="Thai Express">Thai Express</option>
			</select>
		</div>
	</form>
</body>